Flask==3.0.3
gunicorn==21.2.0
SQLAlchemy==2.0.36
Flask_SQLAlchemy==3.1.1
psycopg2-binary==2.9.9
Flask-Login==0.6.3
Flask-WTF==1.2.1
WTForms==3.1.2
Werkzeug==3.0.3
python-dotenv==1.0.1
twilio==9.3.1
pytz==2024.1
